<!--<div class="container">-->
<!--  <div class="row">-->
<!--    <div class="col-md-8 offset-md-1">-->
        <a>
          <%= product_path(@product.id) do %>
            <%= attachment_image_tag @product, :image, format: 'jpeg', fallback: "no_image.jpg", size:'40x40' %>
          <% end %>
        </a>
      <h4><%= @product.name %></h4>
      <div><%= @product.description %></div>
      <div>¥<%= @product.price %>（税込）</div>

      <% if customer_signed_in? %>
      <%#= render 'public/cart_items/cart_in', cart_item: @cart_item %>
        <%= form_for(@cart_item) do |f| %>
          <%= f.select :product_count,  [*1..100], { include_blank: '個数選択' } %>
          <%= f.hidden_field :product_id, :value => @product.id %>
          <%= f.submit 'カートに入れる', class: "btn btn- btn btn-success" %>
        <% end %>
      <% end %>
<!--    </div>-->
<!--  </div>-->
<!--</div>-->