<!DOCTYPE html>
<html>
  <head>
    <title>商品一覧</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
     <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <%= stylesheet_link_tag    'products', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'products', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-md-5">
          <div class="product-image">
              <%= attachment_image_tag @product, :image, format: 'jpeg', fallback: "no_image.jpg", size:'300x200' %>
          </div>
        </div>
        <div class="col-md-7">
          <h4 class="product-name"><%= @product.name %></h4>
          <div class="product-description"><%= @product.description %></div>
          <div class="product-price">¥<%= (@product.price).to_s(:delimited) %>（税込）</div>

          <% if customer_signed_in? %>
            <%= form_for(@cart_item) do |f| %>
              <%= f.select :product_count,  [*1..100], { include_blank: '個数選択' } %>
              <%= f.hidden_field :product_id, :value => @product.id %>
              <%= f.submit 'カートに入れる', class: "btn btn-success" %>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
  </body>
</html>