 <% if flash[:notice] %>
    <p class="alert alert-success">
      <%= flash[:notice] %>
    </p>
<% end %>
<!-- Slider main container -->
<script src="https://unpkg.com/swiper/swiper-bundle.js"></script>

<!--メイン部分-->
<div class="container-fluid box-background">
    <div class="row　d-flex align-items-bottom">
        <!--swiper-->
    
        <div class="col-md-12 ">
            <div class="swiper-container mx-auto mt-5 ">
                <!-- Additional required wrapper -->
                <div class="swiper-wrapper">
                    <!-- Slides -->
                    <div class="swiper-slide ">Slide 1</div>
                    <div class="swiper-slide">Slide 2</div>
                    <div class="swiper-slide">Slide 3</div>
                    <div class="swiper-slide">Slide 4</div>
                    
                </div>
                <!-- If we need pagination -->
                <div class="swiper-pagination"></div>
            
                <!-- If we need navigation buttons -->
                <!--<div class="swiper-button-prev"></div>-->
                <!--<div class="swiper-button-next"></div>-->
            
                <!-- If we need scrollbar -->
            </div>
            <div class="text-center ">
                <div class="p-2 bd-highlight mt-5 top-text ">
                      <p style="line-height:2rem  ">ようこそ、ながのCAKEへ！<br>
                      このサイトは、ケーキ販売のECサイトになります。<br>
                      会員でない方も商品の閲覧はできますが、<br>
                      購入には会員登録が必要になります。<br>
                      </p>
                 </div>
            </div>
        </div>
    </div>
</div>
<!--新着商品-->
<div class="p-2 bd-highlight mx-5">
    <h3>新着商品</h3>
</div>
<div class="row">
    <% @products.last(4).each do |product| %>
        <div class="col-md-2 mt-3 mx-5">
            <p>
                <%= link_to product_path(product.id) do %>
                    <%= attachment_image_tag product, :image, :fill, 100, 100, format: 'jpeg', fallback: 'noimage.jpg', size: '200x200', class: "rounded" %>
                <% end %>
            </p>
            <p><%= product.name %></p>
            <p><%= (product.price * 1.1).floor %> 円</p>
        </div>
    <% end %>
</div>
<div class="text-right mx-3">
  <%= link_to "全ての商品を見る＞", products_path %>
</div>

<script>
  const swiper =  new Swiper('.swiper-container', {
  // Optional parameters
  slidesPerView: 3, // 何枚のスライドを表示するか
    spaceBetween: 10, // スライド間の余白サイズ(ピクセル)
    direction: 'horizontal', 
  grabCursor: true,
    centeredSlides: true,

  loop: true,
  effect: "coverflow",
    autoplay: {
      delay: 3000, // スライドが切り替わるまでの表示時間(ミリ秒)
      stopOnLast: false, // 最後のスライドまで表示されたら自動再生を中止するか
      disableOnInteraction: false // ユーザーのスワイプ操作を検出したら自動再生を中止するか
    },
    coverflowEffect:{
      slideShadows: false,
      shadow: true,
      
    },
  // If we need pagination
  pagination: {
    el: '.swiper-pagination',
  },

  // Navigation arrows
  navigation: {
    nextEl: '.swiper-button-next',
    prevEl: '.swiper-button-prev',
  },

  // And if we need scrollbar
  
})

</script>