<div class="container">
  <div class="badge badge-light my-4">
    <h3><%= @customer.full_name%>さんの会員詳細</h3>
  </div>

<table class="table table-bordered my-3">
    <tr>
        <th>会員ID</th>
        <td><%= @customer.id%></td>
    </tr>
    <tr>
        <th>氏名</th>
        <td><%= @customer.full_name%></td>
    </tr>
    <tr>
        <th>フリガナ</th>
        <td><%= @customer.furigana_full_name%></td>
    </tr>
    <tr>
        <th>郵便番号</th>
        <td><%= @customer.postcode%></td>
    </tr>
    <tr>
        <th>住所</th>
        <td><%= @customer.address%></td>
    </tr>
    <tr>
        <th>電話番号</th>
        <td><%= @customer.phone_number%></td>
    </tr>
    <tr>
        <th>メールアドレス</th>
        <td><%= @customer.email%></td>
    </tr>
    <tr>
        <th>会員ステータス</th>
        <% if @customer.is_deleted?%>
        <td class="text-danger">退会</td>
        <%else%>
        <td class="text-success">有効</td>
        <%end%>
    </tr>
</table>
<%= link_to "編集する",edit_admin_customer_path(@customer.id),class:"btn btn-success"%>
<%= link_to "注文履歴一覧を見る",admin_order_path(sort: @customer),class:"btn btn-primary ml-4"%>
</div>