
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <h2>配送先編集</h2>
      
      <% if @delivery.errors.any? %>
        <%= @delivery.errors.count %>error prohibited this obj from being saved:
        <% @delivery.errors.full_messages.each do |message| %>
          <%= message %>
        <% end %>
      <% end %>
      
      
      <%= form_with model:@delivery,local:true do |f| %>
      
        <div class="form-group">
          <label for ="delivery_postcode">郵便番号（ハイフンなし）</label>
          <%= f.text_field :postcode, autofocus: true, class: "form-control", id:"inpuPostcode", placeholder:"タイトル"%>
        </div>
      
        <div class="form-group">
          <label for ="delivery_address">住所</label>
          <%= f.text_area :adress, class: "form-control", id:"inputAdress"%>
        </div>
        
        <div class="form-group">
          <label for ="delivery_name">宛名</label>
          <%= f.text_area :name, class: "form-control", id:"inputName"%>
        </div>
      
        <%= f.submit "変更内容を保存", class: "btn btn-success" %>
      <% end %>
    </div>
  </div>
</div>