 <% if flash[:success] %>
    <p class="alert alert-success">
      <%= flash[:success] %>
    </p>
<% end %>

<div class="container pt-3">
    <h4 class="col-md-3 offset-1 bg-light text-center my-2">注文履歴詳細</h4>

    <div class="row mt-2 align-items-center">
      <div class="col-6 text-left px-2">
        <table class="table table table-borderless">
          <tbody>
            <tr>
              <th>購入者</th>
              <td>
                <%= link_to @order.customer.full_name, admin_customer_path(@order.customer) %>
              </td>
            </tr>
            <tr>
              <th>注文日</th>
              <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
            </tr>
            <tr>
              <th>配送先</th>
              <td><label>〒<%= @order.delivery_postcode %></label><%= @order.delivery_address %><br>
                  <%= @order.delivery_name %>
              </td>
            </tr>
            <tr>
              <th>支払方法</th>
              <td><%= @order.pay_method %></td>
            </tr>
            <tr>
              <th>注文ステータス</th>
                <%= form_with model: @order, url: admin_order_path, method: :patch, local: true do |f| %>
                  <!--モデル名.カラム名複数形.keysで設定したenum呼び出す-->
                  <td><%= f.select :status, Order.statuses.keys.to_a %></td>
                  <td><%= f.submit "更新", class: "btn btn-success btn-sm" %></td>
                <% end %>
            </tr>
          </tbody>
        </table>
      </div>
    </div>

    <div class="row py-4">
      <div class="col-md-8">
        <table class="table table-borderless">
          <thead class="thead-light">
            <tr>
              <th>商品名</th>
              <th>単価(税込)</th>
              <th>数量</th>
              <th>小計</th>
              <th>制作ステータス</th>
              <th></th>
            </tr>
          </thead>
          <% @order.order_items.each do |order_item| %>
          <tbody>
            <tr>
              <td><%= order_item.product.name %></td>
              <td><%= order_item.price.to_s(:delimited) %></td>
              <td><%= order_item.product_count %></td>
              <td><%= (order_item.price * order_item.product_count).to_s(:delimited) %></td>
              <%= form_with model: order_item, url: admin_order_item_path(order_item), method: :patch, local: true do |f| %>
                <td><%= f.select :making_status, OrderItem.making_statuses.keys.to_a %></td>
                <td><%= f.submit "更新", class: "btn btn-success btn-sm" %></td>
              <% end %>
            </tr>
          </tbody>
          <% end %>
        </table>
      </div>

      <div class="col-md-3 offset-md-1">
       <table class="table table table-borderless table-sm">
          <tbody>
            <tr>
              <th>商品合計</th>
              <td><%= (@order.pay_amount).to_s(:delimited) %>円</td>
            </tr>
            <tr>
              <th>送料</th>
              <td><%= @order.shipping_fee %>円</td>
            </tr>
            <tr>
              <th>請求金額合計</th>
              <td><%= (@order.pay_amount += @order.shipping_fee).to_s(:delimited) %>円</td>
            </tr>
          </tbody>
        </table>
     </div>
    </div>
</div>