<div class="container">
  <div class="row">
    <h3>注文履歴詳細</h3>
      <table>
        <tbody>
          <tr>
            <th>購入者</th>
            <td>
              <%= link.to admin_customer_path(@order.customer) %>
                <%= @order.customer.last_name %><%= @order.customer.fist_name %>
              <% end %>
            </td>
            <td></td>
          </tr>
          <tr>
            <th>注文日</th>
            <td><%= @order.created_at.strftime('%Y/%m/%d') %></td>
            <td></td>
          </tr>
          <tr>
            <th>配送先</th>
            <td>〒<%= @order.delivery_postcode %> <%= @order.delivery_address %></td><br>
            <td><%= @order.delivery_name %></td>
          </tr>
          <tr>
            <th>支払方法</th>
            <th><%= @order.pay_method %></th>
          </tr>
          <tr>
            <th>注文ステータス</th>
            <th></th>
            <th></th>
          </tr>
        </tbode>
      </table>
      <table>
        <thead class="thead-light">
          <tr>
            <th>商品名</th>
            <th>単価(税込)</th>
            <th>数量</th>
            <th>小計</th>
            <th>制作ステータス</th>
            <th></th><%# 更新ボタンの上 %>
          </tr>
        </thead>
        <tbody>
          <% @order.order_items.each do |order_item| %>
          <tr>
            <td><%= order_item.product.name %></td>
            <td><%= order_item.price %></td>
            <td><%= order_item.product_count %></td>
            <td><%= order_item.price * order_item.product_count %></td>
            <td><%= form_with model: order_item, url: admin_order_item_path()local: true do |f| %></td>
          </tr>
          <% end %>
        </tbody>
      </table>
  </div>
</div>