<div class="container">

  <div class="row">
    <div class="col-md-8 offset-md-1">
      <h2>ショッピングカート</h2>
      <table class="table table-striped">
        <thead>
          <tr>
            <th>商品名</th>
            <th>単価</th>
            <th>数量</th>
            <th>小計</th>
            <th></th>
          </tr>
         </thead>

        <tbody>
          <% @cart_items.each do |cart_item| %>
            <tr>
              <td><%= product.name %></td>
              <td><%= product.price %></td>
              <td><%= cart_item.product_count %></td>
              <!--session使用？-->
              <td><%= subtotal %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <table>
        <tr>
          <th>送料</th>
          <td><%= shipping_fee %></td>
        </tr>
        <tr>
          <th>商品合計</th>
          <td><%= shipping_fee %></td>
        </tr>
        <tr>
          <th>請求合計</th>
          <td><%= shipping_fee %></td>
        </tr>
      </table>
      <div class="pay_method">
        支払い方法 <%= @order.pay_method %></div>
      </div>
      <div class="delivery_address">
        お届け先 <%= @order.delivery_address %></div>
      </div>
  </div>
</div>