<div class="container">
    <div class="row">
        <div class="">注文情報確認</div>
        <div class="col-8">
            <table>
                <tr>
                    <td>商品名</td>
                    <td>単価(税込)</td>
                    <td>数量</td>
                    <td>小計</td>
                </tr>
                <% @cart_items.zip(@subtotals) do |cart_item, subtotal| %>
                <tr>
                    <td><%= attachment_image_tag Product.find(cart_item.product_id), :image_id, format: 'jpeg', size: "100x100" %><%= Product.find(cart_item.product_id).name %></td>
                    <td><%= Product.find(cart_item.product_id).price*1.1 %></td>
                    <td><%= cart_item.product_count %></td>
                    <td><%= subtotal %></td>
                </tr>
                <% end %>
            </table>
        </div>
        <div class="col-4">
            <table>
                <tr>
                    <td>送料</td>
                    <td>800</td>
                </tr>
                <tr>
                    <td>商品合計</td>
                    <td><%= @sum %></td>
                </tr>
                <tr>
                    <td>請求金額</td>
                    <td><%= @pay_amount %></td>
                </tr>
            </table>
        </div>
    </div>
    
    <div class="row">
        <div class="">
            
            <table>
                <tr>
                    <td>支払方法</td>
                    <td><%= @pay_method %></td>
                </tr>
                <tr>
                    <td>お届け先</td>
                    <td>〒<%= @order.delivery_postcode %><%= @order.delivery_address %><%= @order.delivery_name %> </td>
                </tr>
            </table>
            
            <%= form_with model: @order, url: orders_path, method: :post, local: true do |f| %>
              <%= f.hidden_field :customer_id, value: current_customer.id %>
              <%= f.hidden_field :shipping_fee, value: 800 %>
              <%= f.hidden_field :pay_amount, value: @pay_amount %>
              <%= f.hidden_field :pay_method %>
              <%= f.hidden_field :delivery_name %>
              <%= f.hidden_field :delivery_postcode %>
              <%= f.hidden_field :delivery_address %>
              <%= f.hidden_field :status, value: "入金待ち" %>
              
              <%= f.submit "注文を確定する", class: "btn btn-success" %>
            <% end %>
            
        </div>
    </div>
</div>