<div class="container">
    <div class="row">
        <div class="">
            <%= form_with model: @order, remote: true do |f| %>
            <div class="">注文情報入力</div>
            <div class="">支払方法</div>
            <div class="pay_method">
                <%= f.radio_button :pay_method, :credit_card %>
                <%= f.label :pay_method_card, "クレジットカード" %>
                
                <%= f.radio_button :pay_method, :cash %>
                <%= f.label :pay_method_cash, "銀行振込"%>
            </div>
            <div class="">お届け先</div>
            <div class="deliveries">
                <%= radio_button_tag "address", "customer_address", checked: true %>
                  <%= f.label "ご自身の住所" %><br>
                  <p class="ml-4">〒<%= current_customer.postcode %> <%= current_customer.address %><br>
                  <%= current_customer.last_name %> <%= current_customer.first_name %></p>
                  
                <%= radio_button_tag "address", "customer.addresses" %>
                  <%= f.label "登録済住所から選択" %><br>
                  <p class="ml-4"><%= f.collection_select :select_address, current_customer.address, :id, :select_address %></p>
                
                
            
            
            </div>
            
            
            
            
            <% end %>
            
            
            
            
            
        </div>
    </div>
</div>