<div class="container pt-3">
    <div class="row pt-4">
        <div class="col-12">
            
            <h4 class="col-md-3 offset-1 bg-light text-center">注文情報入力</h4>
            
            <%= form_with model: @order, url: orders_confirm_path, method: :post, local: true  do |f| %>
            <div class="pay_method">
                <div class="font-weight-bold h4">支払方法</div>
                <div class="pay_method_form h5">
                  <%= f.radio_button :pay_method, :"クレジットカード" , checked: true %>
                  <%= f.label :pay_method_credit_card, "クレジットカード" %>
                </div>
                <div class="pay_method_form h5">
                  <%= f.radio_button :pay_method, :"銀行振込" %>
                  <%= f.label :pay_method_cash, "銀行振込" %>
                </div>
            </div>

            <div class="deliveries">
                <div class="font-weight-bold h4" >お届け先</div>
                  <div class="delivery_address_form h5">
                    <%= f.radio_button "address_sellect", "1" , checked: true %>
                    <%= f.label :address_sellect, "ご自身の住所"  %>
                    <div class="current-customer-address">〒<%= current_customer.postcode %>&nbsp;&nbsp;<%= current_customer.address %><br/><%= current_customer.last_name+current_customer.first_name %></div>
                  </div>
                  
                  <div class="delivery_address_form h5">
                    <%= f.radio_button "address_sellect", "2" %>
                    <%= f.label :address_sellect, "登録済住所から選択" %>
                      <div class="address-sellect"><%= f.collection_select :address, @deliveries, :id, :delivery_together, prompt: "--選択してください--" %></div>
                  </div>
                  
                  <div class="delivery_address_form h5">
                    <%= f.radio_button "address_sellect", "3" %>
                    <%= f.label :address_sellect, "新しいお届け先" %>
                      <div class="new-address-form">
                      <table>
                          <tr>
                              <td width="250">郵便番号(ハイフンなし)</td>
                              <td><%= f.text_field :delivery_postcode, placeholder: "000000", size:10 %></td>
                          </tr>
                          <tr>
                              <td>住所</td>
                              <td><%= f.text_field :delivery_address, placeholder: "東京都渋谷区代々木神園町0-0" ,size:30%></td>
                          </tr>
                          <tr>
                              <td>宛名</td>
                              <td><%= f.text_field :delivery_name, placeholder: "令和道子" ,size:10 %></td>
                          </tr>
                      </table>
                      </div>
                  </div>
                
                </div>
            </div>
            
            
            <div class="confirm-btn-wrapper">
              <%= f.submit "確認画面へ進む", class:"btn btn-primary confirm-btn" %>
            </div>
            
            <% end %>
            
            
            
            
            
        </div>
    </div>
</div>